.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFE0C2;
    width: 100%;
    height: 80px;

    .logo {
        width: 150px;
        margin: 0.5rem;
    }
}